doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")
        title Dashboard
    body
        main
            header.header
                .logo

                form.search(action='#' method='GET')
                    button.search__button(type="submit", value='Поиск')
                    input.search__field(type="search", name='search-field' value="", size="40", maxlength="50", autocomplete="off", placeholder="Search payment, transfers, transactions...", aria-label="Поиск")
                nav.nav
                    ul.nav__list
                        li.nav__list-item 
                            a(href="#0").nav__item-link
                                span Dashboard
                        li.nav__list-item
                            a(href="#0").nav__item-link 
                                span Transfers
                        li.nav__list-item
                            a(href="#0").nav__item-link
                                span Payments
                        li.nav__list-item
                            a(href="#0").nav__item-link
                                span Recent Transactions
                        li.nav__list-item
                            a(href="#0").nav__item-link
                                span Loan
                        li.nav__list-item
                            a(href="#0").nav__item-link
                                span Online Support

                .profile
                    .profile__pic
                    .profile__name
                        span Cliff Booth
            .dashboard
                .dashboard__box
                    .balance.tabs
                        header.section-header
                            h2.section-header__title Balance
                            ul.tabs__caption
                                li.active TL
                                li EURO
                                li USD
                        .balance__tab.tabs__content.active
                            .balance__graph
                                #chart1.ct-chart.ct-perfect-fourth
                            footer.balance__footer
                                ul.balance__footer-list
                                    li.balance__footer-item
                                        span TL
                                        .balance__line
                                            div
                                    li.balance__footer-item
                                        span EURO
                                        .balance__line
                                            div
                                    li.balance__footer-item
                                        span USD
                                        .balance__line
                                            div
                        .balance__tab.tabs__content
                            .balance__graph
                                #chart2.ct-chart.ct-perfect-fourth
                            footer.balance__footer
                                ul.balance__footer-list
                                    li.balance__footer-item
                                        span CHF
                                        .balance__line
                                            div
                                    li.balance__footer-item
                                        span RUB
                                        .balance__line
                                            div
                                    li.balance__footer-item
                                        span LYD
                                        .balance__line
                                            div
                        .balance__tab.tabs__content
                            .balance__graph
                                #chart3.ct-chart.ct-perfect-fourth
                            footer.balance__footer
                                ul.balance__footer-list
                                    li.balance__footer-item
                                        span JOD
                                        .balance__line
                                            div
                                    li.balance__footer-item
                                        span GBP
                                        .balance__line
                                            div
                                    li.balance__footer-item
                                        span OMR
                                        .balance__line
                                            div

                    .calc.tabs
                        header.section-header
                            h2.section-header__title Loan Calculater
                            ul.tabs__caption
                                li.active Consumer Loan
                                li Auto Loan
                                li Mortgage
                        .calc__tab.tabs__content.active
                            ul.calc__ranges
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Loan Amount
                                        span.calc__info-value 120.000 TL
                                    input.calc__ranges-slider-1(type="range")
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Term
                                        span.calc__info-value 96
                                    input.calc__ranges-slider-1(type="range")
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Installment Amount
                                        span.calc__info-value  TL
                                    input.calc__ranges-slider-1(type="range")
                            .calc__info
                                ul.calc__info-list
                                    li.calc__info-item
                                        span Percent
                                        span.calc__info-value 1.55%
                                    li.calc__info-item
                                        span Total Coast
                                        span.calc__info-value 608.00 TL
                                    li.calc__info-item
                                        span Payback
                                        span.calc__info-value 150.000 TL
                                .calc__box
                                    a(href="#0").calc__link
                                        span Payment Plan
                                    button.cards__action-button(type='button')
                                        span Resort
                        .calc__tab.tabs__content
                            ul.calc__ranges
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Loan Amount 2
                                        span.calc__info-value 120.000 TL
                                    input.calc__ranges-slider-2(type="range")
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Term 2
                                        span.calc__info-value 96
                                    input.calc__ranges-slider-2(type="range")
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Installment Amount 2
                                        span.calc__info-value  TL
                                    input.calc__ranges-slider-2(type="range")
                            .calc__info
                                ul.calc__info-list
                                    li.calc__info-item
                                        span Percent
                                        span.calc__info-value 2.55%
                                    li.calc__info-item
                                        span Total Coast
                                        span.calc__info-value 408.00 TL
                                    li.calc__info-item
                                        span Payback
                                        span.calc__info-value 250.000 TL
                                .calc__box
                                    a(href="#0").calc__link
                                        span Payment Plan
                                    button.cards__action-button(type='button')
                                        span Resort
                        .calc__tab.tabs__content
                            ul.calc__ranges
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Loan Amount 3
                                        span.calc__info-value 120.000 TL
                                    input.calc__ranges-slider-3(type="range")
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Term 3
                                        span.calc__info-value 96
                                    input.calc__ranges-slider-3(type="range")
                                li.calc__ranges-item
                                    .calc__ranges-values
                                        span Installment Amount 3
                                        span.calc__info-value  TL
                                    input.calc__ranges-slider-3(type="range")
                            .calc__info
                                ul.calc__info-list
                                    li.calc__info-item
                                        span Percent
                                        span.calc__info-value 3.55%
                                    li.calc__info-item
                                        span Total Coast
                                        span.calc__info-value 308.00 TL
                                    li.calc__info-item
                                        span Payback
                                        span.calc__info-value 350.000 TL
                                .calc__box
                                    a(href="#0").calc__link
                                        span Payment Plan
                                    button.cards__action-button(type='button')
                                        span Resort

                .cards
                    .section-header
                        h2.section-header__title Credit Cards
                    .cards__body
                        ul.cards__list
                            li.cards__list-item 
                                .cards__image
                                    img(src="./assets/img/card-1.png", alt="Your card")
                                .cards__info-box
                                    h3.cards__name TRIO Rewards Card
                                    .cards__info
                                        span.cards__info-title Current Debt
                                        span 1400.00 TL
                                    .cards__info
                                        span.cards__info-title Credit Avaliable
                                        span 8500.00 TL
                                    .cards__action
                                        .cards__info
                                            span.cards__info-title Cut off Date
                                            span.cards__date 13.09.2019

                                        .cards__action-buttons
                                            button.cards__action-button(type='button')
                                                span Pay the Debt
                                            button.cards__action-button(type='button')
                                                span Activity
                            li.cards__list-item
                                .cards__image
                                    img(src="./assets/img/card-2.png", alt="Your card") 
                                .cards__info-box
                                    h3.cards__name Maximum Card
                                    .cards__info
                                        span.cards__info-title Current Debt
                                        span 1400.00 TL
                                    .cards__info
                                        span.cards__info-title Credit Avaliable
                                        span 8500.00 TL
                                    .cards__action
                                        .cards__info
                                            span.cards__info-title Cut off Date
                                            span.cards__date 13.09.2019

                                        .cards__action-buttons
                                            button.cards__action-button(type='button')
                                                span Pay the Debt
                                            button.cards__action-button(type='button')
                                                span Activity
                            li.cards__list-item
                                .cards__image
                                    img(src="./assets/img/card-3.png", alt="Your card") 
                                .cards__info-box
                                    h3.cards__name Nicolet Card
                                    .cards__info
                                        span.cards__info-title Current Debt
                                        span 1400.00 TL
                                    .cards__info
                                        span.cards__info-title Credit Avaliable
                                        span 8500.00 TL
                                    .cards__action
                                        .cards__info
                                            span.cards__info-title Cut off Date
                                            span.cards__date 13.09.2019

                                        .cards__action-buttons
                                            button.cards__action-button(type='button')
                                                span Pay the Debt
                                            button.cards__action-button(type='button')
                                                span Activity


                    ul.cards__users
                        li.cards__user
                            .profile
                                .profile__pic
                                .profile__name
                                    span Albert Rusakov
                            .cards__user-statistic 00.00 TL
                            button(type='submit').cards__user-button Send
                        li.cards__user
                            .profile
                                .profile__pic
                                .profile__name
                                    span Joe Baybik
                            .cards__user-statistic 00.00 TL
                            button(type='submit').cards__user-button Send
                        li.cards__user
                            .profile
                                .profile__pic
                                .profile__name
                                    span Lyle Beniga
                            .cards__user-statistic 00.00 TL
                            button(type='submit').cards__user-button Send

                
                aside.sidebar
                    .sidebar__box
                        header.section-header
                            h2.section-header__title Recurring Payments
                        ul.sidebar__bills
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title Utility Bill
                                    p.sidebar__bills-text Lorem ipsum dolor sit amet dolor sit amet
                                    span.sidebar__bills-numbers 186.00 TL
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title House Rent
                                    p.sidebar__bills-text Lorem ipsum dolor sit amet dolor sit amet
                                    span.sidebar__bills-numbers 2800.00 TL
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title Phone Bill
                                    p.sidebar__bills-text Lorem ipsum dolor sit amet dolor sit amet
                                    span.sidebar__bills-numbers 70.00 TL
                    .sidebar__box
                        header.section-header
                            h2.section-header__title Recent Transactions
                        ul.sidebar__bills
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title Starbucks
                                    span.sidebar__bills-numbers 12.00 TL
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title Salary 
                                    span.sidebar__bills-numbers 12.000 TL
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title CarrefourSA
                                    span.sidebar__bills-numbers 324.78 TL


            footer.footer
                ul.footer__list
                    li.footer__list-item
                        span BIST 100.1
                    li.footer__list-item
                        span BANKS 28.67
                    li.footer__list-item
                        span BOOST 84.92
                    li.footer__list-item
                        span BUILD 91.11
script(src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js" defer)
