doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Dashboard
    body
        main
            header.header
                .logo

                form.search(action='#' method='GET')
                    button.search__button(type="submit", value='Поиск')
                    input.search__field(type="search", name='search-field' value="", size="40", maxlength="50", autocomplete="off", placeholder="Search payment, transfers, transactions...", aria-label="Поиск")
                nav.nav
                    ul.nav__list
                        li.nav__list-item 
                            a(href="#0").nav__item-link
                                span Dashboard
                        li.nav__list-item
                            a(href="#0").nav__item-link 
                                span Transfers
                        li.nav__list-item
                            a(href="#0").nav__item-link
                                span Payments
                        li.nav__list-item
                            a(href="#0").nav__item-link
                                span Recent Transactions
                        li.nav__list-item
                            a(href="#0").nav__item-link
                                span Loan
                        li.nav__list-item
                            a(href="#0").nav__item-link
                                span Online Support

                .profile
                    .profile__pic
                    .profile__name
                        span Cliff Booth
            .dashboard
                .balance

                .cards
                    .cards__header
                        h2.cards__title Credit Cards
                    .cards__body
                        ul.cards__list
                            li.cards__list-item
                                h3.cards__title Maximum Card
                                .cards__info
                                    span.cards__info-title Current Debt
                                    span 1400.00 TL
                                .cards__info
                                    span.cards__info-title Credit Avaliable
                                    span 8500.00 TL
                                .cards__action
                                    .cards__info
                                        span.cards__info-title Cut off Date
                                        span.cards__date 13.09.2019

                                    .cards__action-buttons
                                        button.cards__action-button(type='button')
                                            span Pay the Debt
                                        button.cards__action-button(type='button')
                                            span Activity
                            li.cards__list-item
                                h3.cards__title Maximum Card
                                .cards__info
                                    span.cards__info-title Current Debt
                                    span 1400.00 TL
                                .cards__info
                                    span.cards__info-title Credit Avaliable
                                    span 8500.00 TL
                                .cards__action
                                    .cards__info
                                        span.cards__info-title Cut off Date
                                        span.cards__date 13.09.2019

                                    .cards__action-buttons
                                        button.cards__action-button(type='button')
                                            span Pay the Debt
                                        button.cards__action-button(type='button')
                                            span Activity


                    ul.cards__users
                        li.cards__user
                            .profile
                                .profile__pic
                                .profile__name
                                    span Albert Rusakov
                            .cards__user-statistic 00.00 TL
                            button(type='submit').cards__user-button Send
                        li.cards__user
                            .profile
                                .profile__pic
                                .profile__name
                                    span Joe Baybik
                            .cards__user-statistic 00.00 TL
                            button(type='submit').cards__user-button Send
                        li.cards__user
                            .profile
                                .profile__pic
                                .profile__name
                                    span Lyle Beniga
                            .cards__user-statistic 00.00 TL
                            button(type='submit').cards__user-button Send

                
                aside.sidebar
                    .sidebar__box
                        h3.sidebar__title Recurring Payments
                        ul.sidebar__bills
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title Utility Bill
                                    p.sidebar__bills-text Lorem ipsum dolor sit amet dolor sit amet
                                    span.sidebar__bills-numbers 186.00 TL
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title House Rent
                                    p.sidebar__bills-text Lorem ipsum dolor sit amet dolor sit amet
                                    span.sidebar__bills-numbers 2800.00 TL
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title Phone Bill
                                    p.sidebar__bills-text Lorem ipsum dolor sit amet dolor sit amet
                                    span.sidebar__bills-numbers 70.00 TL
                    .sidebar__box
                        h3.sidebar__title Recent Transactions
                        ul.sidebar__bills
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title Starbucks
                                    span.sidebar__bills-numbers 12.00 TL
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title Salary 
                                    span.sidebar__bills-numbers 12.000 TL
                            li.sidebar__bills-item
                                .sidebar__date
                                    span 13 May
                                .sidebar__description
                                    span.sidebar__bills-title CarrefourSA
                                    span.sidebar__bills-numbers 324.78 TL




            footer.footer
                ul.footer__list
                    li.footer__list-item
                        span BIST 100.1
                    li.footer__list-item
                        span BANKS 28.67
                    li.footer__list-item
                        span BOOST 84.92
                    li.footer__list-item
                        span BUILD 91.11
        
